body
{	
	color:white;
	margin:auto;
}
#wrapper
{
	width:960px;
	height:5000px;
	background-image:url(../image/s_top3.jpg);
	background-size:cover;
	margin-right:auto;
	margin-left:auto;
    border-color:purple;
	border-style:solid;
	border-width:4px
	
}
#header
{
	background-image:url(../image/banner.jpg);
	width:960px;
	height:192px;
}
#tractus_info
{
	
	width:800px;
	height:250px;
}
