body
{	background-image:url(../image/Purple-Space.jpg);
	background-size:cover;
	color:white;
	margin:auto;
}
#wrapper
{
	width:960px;
	height:5000px;
	margin-right:auto;
	margin-left:auto;
}
#navbar
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 45px;
	height:25px;
	width:960px;
	
}
#header
{
	background-image:url(../image/banner.jpg);
	width:960px;
	height:192px;
}
#tractus_info
{
	
	width:800px;
	height:250px;
}

a:hover
{
	color:red;
}
a
{
	text-decoration:none;
	color:white;
}
